# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [4]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [5]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

                 city                 date  ...  driver_count   type
0  Lake Jonathanshire  2019-01-14 10:14:22  ...             5  Urban
1  South Michelleport  2019-03-04 18:24:09  ...            72  Urban
2  Port Samanthamouth  2019-02-24 04:29:00  ...            57  Urban
3          Rodneyfort  2019-02-10 23:22:03  ...            34  Urban
4          South Jack  2019-03-06 04:28:35  ...            46  Urban

[5 rows x 6 columns]

## Deliverable 1: Get a Summary DataFrame

In [31]:
#  1. Get the total rides for each city type
#pyber_data_df["type"].unique()
#urban_rides = sum(pyber_data_df["type"]=="Urban")
#suburban_rides = sum(pyber_data_df["type"]=="Suburban")
#rural_rides = sum(pyber_data_df["type"]=="Rural")
#total_rides = urban_rides + suburban_rides + rural_rides
#total_rides

pyber_data_df["driver_count"].unique()
urban_rides = pyber_data_df.groupby(["type"]).count()["driver_count"]
suburban_rides = pyber_data_df.groupby(["type"]).count()["driver_count"]
rural_rides = pyber_data_df.groupby(["type"]).count()["driver_count"]
total_rides = urban_rides + suburban_rides + rural_rides
total_rides

type
Rural        375
Suburban    1875
Urban       4875
Name: driver_count, dtype: int64

In [28]:
# 2. Get the total drivers for each city type
pyber_data_df["driver_count"].unique()
urban_drivers = pyber_data_df.groupby(["type"]).sum()["driver_count"]
suburban_drivers = pyber_data_df.groupby(["type"]).sum()["driver_count"]
rural_drivers = pyber_data_df.groupby(["type"]).sum()["driver_count"]
total_drivers = urban_drivers + suburban_drivers + rural_drivers
total_drivers

type
Rural         1611
Suburban     25710
Urban       178806
Name: driver_count, dtype: int64

In [27]:
#  3. Get the total amount of fares for each city type
pyber_data_df["fare"].unique()
urban_fare = pyber_data_df.groupby(["type"]).sum()["fare"]
suburban_fare = pyber_data_df.groupby(["type"]).sum()["fare"]
rural_fare = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fare = urban_fare + suburban_fare + rural_fare
total_fare

type
Rural        12983.79
Suburban     58068.99
Urban       119563.14
Name: fare, dtype: float64

In [22]:
#  4. Get the average fare per ride for each city type. 

pyber_data_df["fare"].unique()
urban_avg_fare = pyber_data_df.groupby(["type"]).mean()["fare"]
suburban_avg_fare = pyber_data_df.groupby(["type"]).mean()["fare"]
rural_avg_fare = pyber_data_df.groupby(["type"]).mean()["fare"]
total_avg_fare = urban_avg_fare + suburban_avg_fare + rural_avg_fare
total_avg_fare

type
Rural       103.870320
Suburban     92.910384
Urban        73.577317
Name: fare, dtype: float64

In [33]:
# 5. Get the average fare per driver for each city type. 
urban_fare_per_driver = urban_fare / urban_drivers
suburban_fare_per_driver = suburban_fare / suburban_drivers
rural_fare_per_driver = rural_fare / rural_drivers
total_fare_per_driver = rural_fare_per_driver + urban_fare_per_driver + suburban_fare_per_driver
total_fare_per_driver

type
Rural       24.178380
Suburban     6.775845
Urban        2.006026
dtype: float64

In [ ]:
#  6. Create a PyBer summary DataFrame.

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 1. Read the merged DataFrame

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')